# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: BIZHINIANG

on:
  workflow_dispatch:
  schedule:
    - cron: '10 1 * * *'
    # cron表达式，Actions时区是UTC时间，所以上午9点要往前推8个小时


jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: BIZHINIANG_GET
        env:
          SESSDATA: ${{ secrets.SESSDATA }}
        run: |
          ls -l
          python getimg.py ${SESSDATA}
      - name: commit
        run: |
          git config --global user.email 3377911508@qq.com
          git config --global user.name zjkwdy
          git add .
          git commit -m "update" -a
        
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GHTO }}
      - name: Make preview file
        run: |
          echo BIZHINIANG IMAGE DOWNLOAD PASSED. > report.txt
          ls -al >> report.txt
      - name: "Send mail"
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.163.com
          server_port: 465
          username: ${{ secrets.MAILUSERNAME }}
          password: ${{ secrets.MAILPASSWORD }}
          subject: 壁纸娘图片同步到仓库成功
          body: file://report.txt
          to: 3377911508@qq.com
          from: GitHub Actions
          attachments: report.txt
